.home-story {

    width: auto;
    height: auto;
    overflow-y: hidden;
}

.sec-fill {
    animation: fill 5s linear 1;
    background-color: white;
}

@keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

.story-image-main {

    width: 100%;
    height: 100%;
}

.story-body {

    overflow-y: hidden;
    width: auto;
    height: auto;
    background-color: transparent;
}

.story-image-body-username {
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

.story-image-body img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border: 2px solid gray;
    padding: 3px;
    
}

@media only screen and (max-width: 1200px) { 

    
 }