.medium-bg {
    background-color: #3D3E52;
}

.dark-bg {
    background-color: #282B34;
}

.light-bg {
    background-color: #494A5C;
}

.bebasfont {
    font-family: 'Bebas Neue', cursive;
}

.normalfont {
    font-family: 'Open Sans', sans-serif;
}

/* components design */

body {
    background-color: #3D3E52;
    overflow: hidden;
}

.username-txt {

    font-size: 13px;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

@media only screen and (max-width: 1200px) { }
